.wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  margin-top: 50px;
  text-align: center;
}

.loadMore {
  display: block;
  border: none;
  background-color: transparent;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  color: #3470ff;

  font-size: 16px;

  font-weight: 500;
  line-height:  150%; 
  text-decoration-line: underline;
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    column-gap: 29px;
    row-gap: 50px;
  }
}
