.welcome {
  height: 100vh;
}

.wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle{
font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Use the regular variant */
    font-size: 1.5em; /* Adjust the size as needed */
    color: #666; /* Set your desired color */
    margin-bottom: 20px; /* Add more space below the subtitle */
}

.title{
  font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Use the bold variant */
    font-size: 90px; /* Adjust the size as needed */
    color: #333; /* Set your desired color */
    margin-bottom: 10px; /* Add some space below the title */
}

.description{
  text-align: center;
  font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Use the regular variant */
    font-size: 1em; /* Adjust the size as needed */
    color: #777; /* Set your desired color */
    line-height: 1.5; /* Adjust the line height for better readability */
    margin-bottom: 30px; /* Add more space below the description */
}